extends layout
block content
    div.container
        form.mt-5
            div.form-group
                label(for="title") Nazwa użytkownika: 
                input#username.form-control(type="text" value=user.username disabled="true")
            div.form-group
                label(for="firstname") Imię: 
                input#firstname.form-control(type="text" value=user.firstName)
            div.form-group
                label(for="lastname") Nazwisko: 
                input#lastname.form-control(type="text" value=user.lastName)
            div.form-group
                label(for="email") Adres e-mail:
                input#email.form-control(type="email" value=user.eMail)
            div.form-group
                label(for="phone-number") Numer telefonu:
                input#phone-number.form-control(type="text" value=user.phoneNumber)
            div.form-group
                label(for="adresses") Adresy
                div.input-group
                    select#adresses.form-control.col-sm-10
                        each val in user.addresses
                            option= val.street + ', ' + val.city
                    button#add-addres.btn.btn-primary.col-sm-2.ml-1: a(href="address/add" style="text-decoration: none; color: white") Dodaj adres